.logo{
    background-color:midnightblue;
    text-align:center;



}

.container{
    font-family:sans-serif;
    background-color: midnightblue;
    color:white;
    text-align:center;
    font-size:30px;
}
