<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<link href="../public/css/admindashboard.css" th:href="@{/css/admindashboard.css}" rel="stylesheet"/>
<body>
<div class="logo">
    <img src="/images/logo.png" alt="Fog carport logo" width="400" height=300>
</div>

<h1>Dashboard</h1>
<h2>Vælg kategori</h2>
<br>

<a th:href="@{/admin/orders/unprocessed}">
    <button type="button">Nye forespørgsler</button>
</a>

<a th:href="@{/admin/orders/pending}">
    <button type="button">Afventer svar fra kunde</button>
</a>

<a th:href="@{/admin/orders/processed}">
    <button type="button">Betalte ordrer</button>
</a>
</body>
</html>
