<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Bekræft din ordre</title>
  <link rel="stylesheet" href="/css/form3.css" th:href="@{/css/form3.css}">
</head>
<body>

<div class="container">

  <div class="header">
    <h2>Bekræft din bestilling</h2>
  </div>

  <div class="order-container">

    <div class="details-column">
      <div class="order-details">
        <h3>Carport</h3>
        <ul>
          <li>Bredde: <span th:text="${currentOrder.carportWidth}">[bredde]</span> cm</li>
          <li>Længde: <span th:text="${currentOrder.carportLength}">[længde]</span> cm</li>
          <li>Tagtype: <span th:text="${currentOrder.roof}">[tag]</span></li>
          <li>Kommentar: <span th:text="${currentOrder.customerText}">[kommentar]</span></li>
        </ul>
      </div>

      <div class="customer-details">
        <h3>Kundeoplysninger</h3>
        <ul>
          <li>Navn: <span th:text="${currentCustomer.customerName}">[navn]</span></li>
          <li>Adresse: <span th:text="${currentCustomer.customerAddress}">[adresse]</span></li>
          <li>Postnummer: <span th:text="${currentCustomer.customerZipcode}">[postnummer]</span></li>
          <li>Email: <span th:text="${currentCustomer.customerEmail}">[email]</span></li>
          <li>Telefon: <span th:text="${currentCustomer.customerPhone}">[telefon]</span></li>
        </ul>
      </div>
    </div>

    <div class="svg-container">
      <div th:utext="${svg}">[SVG vises her]</div>
    </div>

  </div>

  <form method="post" action="/carport/confirm/save">
    <button type="submit">Indsend order</button>
  </form>

</div>


</body>
</html>
