<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Bekræftelse</title>
</head>
<body>

<h2>Trin 3: Bekræft din ordre</h2>

<p>Bredde: <span th:text="${currentOrder.carportWidth}"></span></p>
<p>Længde: <span th:text="${currentOrder.carportLength}"></span></p>
<p>Tag: <span th:text="${currentOrder.roofType}"></span></p>
<p>Særlige bemærkninger/ønsker: <span th:text="${currentOrder.customerComment}"></span></p>


<h3>Dine oplysninger:</h3>

<p>Navn: <span th:text="${currentUser.name}"></span></p>
<p>Adresse: <span th:text="${currentUser.address}"></span></p>
<p>Postnummer: <span th:text="${currentUser.zipcode}"></span></p>
<p>By: <span th:text="${currentUser.city}"></span></p>
<p>Email: <span th:text="${currentUser.email}"></span></p>
<p>Telefon: <span th:text="${currentUser.phoneNumber}"></span></p>


<h3>Din carport:</h3>
<div th:utext="${svg}"></div>

<form method="post" action="/carport/confirm">
  <label>
    <input type="checkbox" required>
    Fog må benytte de afgivne oplysninger til at kontakte mig i forbindelse med tilbud på en skræddersyet carport
  </label>
  <button type="submit">Indhent tilbud</button>
</form>

</body>
</html>
