<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../public/css/offerpage.css" th:href="@{/css/offerpage.css}" rel="stylesheet"/>
    <title>Title</title>
</head>

<body>


<div class="column-container">

    <div class="columns">
        <h2>Indtast mål på carport</h2>
        <form th:action="@{/offerpage/generate-offer}" method="post">

            <label for="width">Bredde (cm):</label>
            <select id="width" name="width" required>
                <option th:value="${session.currentOrderSalesmanInput == null ? session.currentOrder.carportWidth : session.currentOrderSalesmanInput.carportWidth}"
                        th:text="${session.currentOrderSalesmanInput == null ? session.currentOrder.carportWidth : session.currentOrderSalesmanInput.carportWidth + ' cm'}"
                        selected>
                </option>
                <option value="240">240 cm</option>
                <option value="270">270 cm</option>
                <option value="300">300 cm</option>
                <option value="330">330 cm</option>
                <option value="360">360 cm</option>
                <option value="390">390 cm</option>
                <option value="420">420 cm</option>
                <option value="450">450 cm</option>
                <option value="480">480 cm</option>
                <option value="510">510 cm</option>
                <option value="540">540 cm</option>
                <option value="570">570 cm</option>
                <option value="600">600 cm</option>
            </select><br>

            <label for="length">Længde (cm):</label>
            <select id="length" name="length" required>
                <option th:value="${session.currentOrderSalesmanInput == null ? session.currentOrder.carportLength : session.currentOrderSalesmanInput.carportLength}"
                        th:text="${session.currentOrderSalesmanInput == null ? session.currentOrder.carportLength : session.currentOrderSalesmanInput.carportLength + ' cm'}"
                        selected>
                </option>
                <option value="240">240 cm</option>
                <option value="270">270 cm</option>
                <option value="300">300 cm</option>
                <option value="330">330 cm</option>
                <option value="360">360 cm</option>
                <option value="390">390 cm</option>
                <option value="420">420 cm</option>
                <option value="450">450 cm</option>
                <option value="480">480 cm</option>
                <option value="510">510 cm</option>
                <option value="540">540 cm</option>
                <option value="570">570 cm</option>
                <option value="600">600 cm</option>
                <option value="630">630 cm</option>
                <option value="660">660 cm</option>
                <option value="690">690 cm</option>
                <option value="720">720 cm</option>
                <option value="750">750 cm</option>
                <option value="780">780 cm</option>
            </select><br>

            <label for="roof">Tag:</label>
            <select id="roof" name="roof" required>
                <option th:value="${session.currentOrderSalesmanInput == null ? session.currentOrder.roof : session.currentOrderSalesmanInput.roof}"
                        th:text="${session.currentOrderSalesmanInput == null ? session.currentOrder.roof : session.currentOrderSalesmanInput.roof}"
                        selected>
                </option>
                <option value="Intet">Uden tagplader</option>
                <option value="Plasttrapezplader">Plasttrapezplader</option>
            </select><br>

            <label for="admin-text">Besked til kunde:</label>
            <input type="text" id="admin-text" name="admin-text"
                   th:value="${session.currentOrderSalesmanInput == null ? '' : session.currentOrderSalesmanInput.adminText }"><br>


            <label for="coverage-rate">Dækningsgrad:</label>
            <input type="number" id="coverage-rate" name="coverage-rate" value="40" placeholder="40" required
                   th:value="${session.coverageRate == null ? 40 : session.coverageRate}"><br>

            <button class="custom-btn" type="submit">Vælg og gå videre</button>
        </form>
    </div>


    <div class="columns">
        <h2>Kunde/ordre information</h2>

        <p>Ordre nummer: <span th:text="${session.currentOrder.orderId}"></span></p>
        <p>Oprettet: <span th:text="${session.currentOrder.createdAt}"></span></p>
        <br>
        <p>Bredde: <span th:text="${session.currentOrder.carportWidth}"></span></p>
        <p>Længde: <span th:text="${session.currentOrder.carportLength}"></span></p>
        <p>Tag: <span th:text="${session.currentOrder.roof}"></span></p>
        <p>Særlige bemærkninger/ønsker: <span th:text="${session.currentOrder.customerText}"></span></p>
        <br>
        <p>Navn: <span th:text="${session.currentOrder.customer.customerName}"></span></p>
        <p>Adresse: <span th:text="${session.currentOrder.customer.customerAddress}"></span></p>
        <p>Postnummer: <span th:text="${session.currentOrder.customer.customerZipcode}"></span></p>
        <p>Email: <span th:text="${session.currentOrder.customer.customerEmail}"></span></p>
        <p>Telefon: <span th:text="${session.currentOrder.customer.customerPhone}"></span></p>
    </div>
</div>
</body>
</html>