<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="../public/css/offer-page.css" th:href="@{/css/offer-page.css}" rel="stylesheet"/>
  <title>Title</title>
</head>

<body>


<div class="column-container">

  <div class="columns">
    <h3>Indtast mål på carport</h3>

    <label for="width">Bredde (cm):</label>
    <select id="width" name="width" required>
      <option value=""></option>
      <option value="240">240 cm</option>
      <option value="270">270 cm</option>
      <option value="300">300 cm</option>
      <option value="330">330 cm</option>
      <option value="360">360 cm</option>
      <option value="390">390 cm</option>
      <option value="420">420 cm</option>
      <option value="450">450 cm</option>
      <option value="480">480 cm</option>
      <option value="510">510 cm</option>
      <option value="540">540 cm</option>
      <option value="570">570 cm</option>
      <option value="600">600 cm</option>
    </select><br>

    <label for="length">Længde (cm):</label>
    <select id="length" name="length" required>
      <option value=""></option>
      <option value="240">240 cm</option>
      <option value="270">270 cm</option>
      <option value="300">300 cm</option>
      <option value="330">330 cm</option>
      <option value="360">360 cm</option>
      <option value="390">390 cm</option>
      <option value="420">420 cm</option>
      <option value="450">450 cm</option>
      <option value="480">480 cm</option>
      <option value="510">510 cm</option>
      <option value="540">540 cm</option>
      <option value="570">570 cm</option>
      <option value="600">600 cm</option>
      <option value="630">630 cm</option>
      <option value="660">660 cm</option>
      <option value="690">690 cm</option>
      <option value="720">720 cm</option>
      <option value="750">750 cm</option>
      <option value="780">780 cm</option>
    </select><br>

    <label for="roof">Tag:</label>
    <select id="roof" name="roof" required>
      <option value=""></option>
      <option value="none">Uden tagplader</option>
      <option value="Plasttrapezplader">Plasttrapezplader</option>
    </select><br>

    <form th:action="@{/offer-page/calculate-BOM}" method="post">
      <button class="custom-btn" type="submit">Se stykliste</button>
    </form>

    <form th:action="@{/offer-page/calculate-price}" method="post">
      <label for="coverage-rate">Dækningsgrad:</label>
      <input type="number" id="coverage-rate" name="coverage-rate" placeholder="40" required><br>

      <button class="custom-btn" type="submit">Beregn pris</button>
    </form>

    <form th:action="@{/offer-page/show-svg}" method="post">
      <button class="custom-btn" type="submit">Se skitse</button>
    </form>

  </div>


  <div class="columns">
    <h2>Her kommer der til at stå priser</h2>

    <p>Indkøbspris: <span th:text="${materialCost}"></span></p>
    <p>Beregnet salgspris: <span th:text="${estimatedSalesPrice}"></span></p>

    <label for="admin-text">Besked til kunde:</label>
    <input type="text" id="admin-text" name="admin-text"><br>

  </div>

  <!--
  <div class="columns">
    <h2>Kunde/ordre information</h2>

    <p>Ordre nummer:: <span th:text="${currentOrder.orderId}"></span></p>
    <p>Oprettet: <span th:text="${currentOrder.createdAt}"></span></p>
    <br>
    <p>Bredde: <span th:text="${currentOrder.carportWidth}"></span></p>
    <p>Længde: <span th:text="${currentOrder.carportLength}"></span></p>
    <p>Tag: <span th:text="${currentOrder.roofType}"></span></p>
    <p>Særlige bemærkninger/ønsker: <span th:text="${currentOrder.customerComment}"></span></p>
    <br>
    <p>Navn: <span th:text="${currentCustomer.name}"></span></p>
    <p>Adresse: <span th:text="${currentCustomer.address}"></span></p>
    <p>Postnummer: <span th:text="${currentCustomer.zipcode}"></span></p>
    <p>Email: <span th:text="${currentCustomer.email}"></span></p>
    <p>Telefon: <span th:text="${currentCustomer.phoneNumber}"></span></p>
  </div>
</div>

<form th:action="@{/offer-page/send-offer}" method="post">
  <button class="send-offer-button" type="submit">Send offer</button>
</form>
-->

</body>
</html>