<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <link href="../public/css/paid.css" th:href="@{/css/paid.css}" rel="stylesheet"/>
    <title>Betaling bekræftet</title>
</head>
<body>
<div class="logo">
    <img src="/images/logo.png" alt="Fog carport logo" width="400" height="300">
</div>
<br>
<br>
<div class="container">
    <br>
    <h1>Tak for din bestilling!</h1>
    <p>Din betaling er blevet bekræftet, og din ordre er nu under behandling.</p>
    <p>Du vil modtage en bekræftelsesmail med yderligere detaljer.</p>
    <p>Har du spørgsmål, er du velkommen til at kontakte os.</p>
    <br>
</div>
</body>
</html>
