<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <link href="../public/css/pending.css" th:href="@{/css/pending.css}" rel="stylesheet"/>
    <title>Afventer svar</title>
</head>
<body>
<div class="logo">
    <img src="/public/images/logo.png" alt="Fog carport logo" width="400" height=300>
</div>
<h3>Afventer svar fra kunde</h3>

<table>
    <thead>
    <tr>
        <th>Order ID</th>
        <th>Email</th>
        <th>Oprettet</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orders}">
        <td th:text="${order.orderId}"></td>
        <td th:text="${order.customerText}"></td>
        <td th:text="${#dates.format(order.createdAt, 'dd-MM-yyyy HH:mm')}"></td>
        <td>
            <a th:href="@{/admin/orders/pending/{orderId}(orderId=${order.orderId})}">Se hele ordren</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
